* {
    margin: 0;
    padding: 0;
    border: none;
}
/* Font-styling */

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: 'Playfair Display', serif;;
}

p {
    font-family: 'Lato', sans-serif;
}

/* Nav-bar */

.navbar {
    width: 100%;
}

.callout-container {
    height: 50vh;

    background: url(https://res.cloudinary.com/karinoldbring/image/upload/v1653371514/bg-image-small_wswo05.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.jumbotron {
    background: #d3d3d3;
    padding: 0.5rem;
    border-radius: 25px;
}

/* Hero-image 

.container-fluid {
    width: 100%;
    display: flex;
    vertical-align: top;
    overflow: hidden;
    padding: inherit;
} 

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.hero-text {
    width: 100%;
    top: 50%;
    color: #000;
    text-align: center;
    position: absolute;
    object-position: 50%;
    max-width: none;
}


.sub-text {
    text-align: center;
    margin: 10px;
}
*/

.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

.card {

}

.img-container {
    position: relative;
}

.img-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
}

.post-link {
    text-decoration: none;
    color: #000000;
}

.post-link:hover,
.page-link:hover {
    color: #f4900c;
}

.page-link {
    color: #000000;
}
.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.manage-recipe {

}

.add-recipe-button {
    background-color: #1f451a; 
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.log-out {
    
}