{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row text-center mt-3">
        <h1>This is Vegan-a-eat</h1>
        <p>We want to inspire people to shift to a healthier, more sustainable and yummier world!<br>
        Vegan-a-eat is recipe sharing site where you can inspire, and be inspired, to eat more vegan food. </p>
    </div>    
    <div class="row mt-3 about-health">
        <div class="col-6 text-center">
            <img class="about-image" src="https://res.cloudinary.com/karinoldbring/image/upload/v1654070588/43e2972b-0e9e-40ba-8d33-6020e7f99205_acgisq.jpg" alt="Beetroot juice">
        </div>
        <div class="col-6">
            <h4>Health Benefits</h4>
            <p>There are so many potential health benefits to being vegan, and they range from improvements that can happen within days or weeks – such as better skin, digestion and sleep – to truly astounding long-term benefits including a reduced risk of type 2 diabetes and heart disease.
            </p>
        </div>
    </div>
    
    <div class="row mt-3 about-health" >
        <div class="col-6 text-center">
            <img class="about-image" src="https://res.cloudinary.com/karinoldbring/image/upload/v1654072299/unnamed_a4eqpw.jpg" alt="Green drink">
        </div>
        <div class="col-6">
            <h4>Environmental Benifits</h4>
            <p>Everything is connected. Our physical and mental health cannot be separated, and nor can our own health from that of the planet. And the farming of animals has a devastating impact on the Earth in many ways. These are just three of the good reasons why we need to be moving towards a plant-based diet for the sake of the environment.</p>
        </div>
    </div>
</div>

{% endblock %}
