{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <h1>{{ recipe.title }}</h1>
    <div class="row">
        <div class="col-6">
            {% if "placeholder" in recipe.featured_image.url %}
            <img class="card-img-top"
                src="https://www.pexels.com/photo/assorted-vegetables-1656666/">
            {% else %}
            <img class="card-img-top" src="{{ recipe.featured_image.url }}">
            {% endif %}
        </div>
        <div class="col-6">
            <p>{{ recipe.author }} | {{ recipe.updated_on}}</p>
            <p>{{ recipe.excerpt }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">{{ recipe.ingredients | safe }}</div>   
    </div>
    <div class="row">
        <div class="col">{{ recipe.instructions | safe }}</div>   
    </div>
    <div class="row">
        <div class="col">
            <p class="card-text text-muted h6">{{ recipe.created_on}} <i
                class="far fa-heart"></i>{{ recipe.number_of_likes }}</p>
        </div>
    </div>
    
    <div> 
        <h4>Leave a comment:</h4>
        {% if user.is_authenticated %}

        <p>Posting as: {{ user.username }}</p>
        <form method="post">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <button type="submit">Submit</button>
        </form>
        {% else %}
        <div class="container">
            <p>Please <a href="{% url 'signup' %}"> Sign up or <a href="{% url 'login' %}"> Login to leave a comment!</a></p>
        </div>
        {% endif %}
    </div>
</div>


{% endblock %}