{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <h1>{{ recipe.title }}</h1>
    <div class="row">
        <div class="col-6">
            {% if "placeholder" in recipe.featured_image.url %}
            <img class="card-img-top"
                src="https://res.cloudinary.com/karinoldbring/image/upload/v1652960544/n8ons3jj8u4wjxxylr0w.jpg">
            {% else %}
            <img class="card-img-top" src="{{ recipe.featured_image.url }}">
            {% endif %}
        </div>
        <div class="col-6">
            <p>{{ recipe.author }} | {{ recipe.updated_on}}</p>
            <p>{{ recipe.excerpt }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">{{ recipe.ingredients | safe }}</div>   
    </div>
    <div class="row">
        <div class="col">{{ recipe.instructions | safe }}</div>   
    </div>
    <div class="row">
        <div class="col">
            <p class="card-text text-muted h6">{{ recipe.created_on}}</p> 
            <p><i class="far fa-heart"></i> {{ recipe.number_of_likes }}</p>
        </div>
    </div>
    <div class="col-1">
        <strong>
            {% if user.is_authenticated %}
            <form class="d-inline" action="{% url 'recipe_like' recipe.slug %}" method="POST">
                {% csrf_token %}
                {% if liked %}
                <button type="submit" name="recipe_id" value="{{ recipe.slug }}"
                    class="btn btn-md"><i class="fas fa-heart"></i>
                    {{ recipe.amount_of_likes }} </button>
                {% else %}
                <button type="submit" name="recipe_id" value="{{ recipe.slug }}"
                    class="btn btn-md"><i class="far fa-heart"></i>
                    {{ recipe.amount_of_likes }}</button>

                {% endif %}
            </form>
            {% else %}
            <span class="text-secondary"><i class="far-fa-heart"></i></span>
            {% endif %}
            <span class="text-secondary">{{ recipe.number_of_likes }}</span>
        </strong>
    </div>
    <div class="col-1">
        {% with comments.count as total_comments %}
        <strong class="text-secondary"><i class="far fa-comments"></i>
            <!-- Our total_comments variable goes before the closing strong tag -->
            {{ total_comments }}</strong>
        {% endwith %}
    </div>
    <div class="row">
        <div>
            <h3>Comments:</h3>
            <div class="card-body">
                
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>

    <div> 
        <h4>Leave a comment:</h4>
        {% if user.is_authenticated %}

        <p>Posting as: {{ user.username }}</p>
        <form method="post">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <button type="submit">Submit</button>
        </form>
        {% else %}
        <div class="container">
            <p>Please <a href="{% url 'signup' %}"> Sign up or <a href="{% url 'login' %}"> Login to leave a comment!</a></p>
        </div>
        {% endif %}
    </div>
    <br/><br/>
    <a href="{% url 'home' %}">Back</a>
</div>


{% endblock %}