{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load cloudinary %}

{% block content %}

<div class="container mt-4">

    <!-- Recipe details -->
    <div class="row">
        <div class="col-4">
            {% if "placeholder" in recipe.featured_image.url %}
            <img class="card-img-top"
                src="https://res.cloudinary.com/karinoldbring/image/upload/v1652960544/n8ons3jj8u4wjxxylr0w.jpg"
                alt="Vegan food">
            {% else %}
            <img class="card-img-top" src="{{ recipe.featured_image.url }}" alt="Vegan food">
            {% endif %}
        </div>
        <div class="col-6">
            <h1>{{ recipe.title }}</h1>
            <p>{{ recipe.excerpt }}</p>
            <p>{{ recipe.author }} | {{ recipe.updated_on}}</p>
            <p>Cooking time: {{ recipe.cooking_time }} min</p>
        </div>
    </div>
    <div class="row">
        <h5>Ingredients:</h5>
        <div class="col">{{ recipe.ingredients | safe }}</div>
    </div>
    <div class="row">
        <h5>Instructions:</h5>
        <div class="col">{{ recipe.instructions | safe }}</div>
    </div>
    <div class="row">
        <div class="col">
            <p class="card-text text-muted h6">{{ recipe.created_on}}</p>
        </div>
    </div>
    <hr class="block-divider">
    <!-- Likes -->
    <div class="row">
        <div class="col-1">
            <strong>
                {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'recipe_like' recipe.slug %}" method="POST">
                    {% csrf_token %}
                    {% if liked %}
                    <button type="submit" name="recipe_id" value="{{ recipe.slug }}" class="btn btn-md"><i
                            class="fas fa-heart"></i>
                        {{ recipe.amount_of_likes }} </button>
                    {% else %}
                    <button type="submit" name="recipe_id" value="{{ recipe.slug }}" class="btn btn-md"><i
                            class="far fa-heart"></i>
                        {{ recipe.amount_of_likes }}</button>

                    {% endif %}
                </form>
                {% else %}
                <span class="text-secondary"><i class="fas fa-heart"></i></span>
                {% endif %}
                <span class="text-secondary">{{ recipe.number_of_likes }}</span>
            </strong>
        </div>
    </div>
    <!-- Comments -->
    <div class="row">
        <div class="col-6 comments">
            <h5>Comments:</h5>
            {% with comments.count as total_comments %}
            <strong class="text-secondary"><i class="far fa-comments"></i>
                {{ total_comments }}</strong>
            {% endwith %}
            <div class="card-body">
                {% for comment in comments %}
                <div style="padding: 10px;">
                    <p><strong>{{ comment.author }}</strong>
                        wrote:</p>
                    {{ comment.body | linebreaks }}
                    <span class=" text-muted">
                        {{ comment.created_on }}
                    </span>
                </div>
                {% if request.user == comment.author %}
                <form method="POST" action="{% url 'delete_comment' comment.pk %}"> {% csrf_token %}
                    <input class="btn-sm btn-outline-danger" type="submit" value="Delete comment">
                </form>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-6">
            {% if user.is_authenticated %}
            <h4>Leave a comment:</h4>

            <p>Posting as: {{ user.username }}</p>
            <form method="post">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button class="btn btn-outline-secondary mt-3" type="submit">Submit</button>
            </form>
            {% else %}
            <div class="container">
                <p>Please <a href="{% url 'account_signup' %}"> Register</a> or <a href="{% url 'account_login' %}">
                        Login</a> to leave a
                    comment!</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- Manage recipe -->
<div class="container mt-4">
    <div class="row">
        <div class="col-6">
            {% if request.user == recipe.author %}
            <h5>Manage your recipe:</h5>
            <strong>{{ recipe.author }}</strong> - {{ recipe.title }}
            <p class="edit-delete"><a href="{% url 'recipe_edit' recipe.slug %}"><button
                        class="btn btn-success edit-recipe"><i class="fa fa-edit"></i> | Edit</button></i></a>
                <a href="{% url 'recipe_delete' recipe.slug %}"><button class="btn btn-danger"><i
                            class="fa fa-trash"></i> | Delete</button></a></p>
            {% endif %}
        </div>
    </div>
</div>
<div class="container text-center">
    <br /><br />
    <a href="{% url 'home' %}" class="back-button btn-default">Back</a>
</div>

{% endblock %}